<!-- =========================================================
     HIRING SOLUTIONS HERO
     ========================================================= -->

<section class="inner-page-hero hiring-page-hero">

    <div class="inner-page-hero-overlay"></div>

    <div class="container">

        <div class="inner-page-hero-content"
             data-aos="fade-up">

            <span  class="section-eyebrow section-eyebrow-white">
                INDUSTRY & CAREER SOLUTIONS
            </span>

            <h1>
                Connecting
                <span>Talent With Opportunity.</span>
            </h1>

            <p>
                APT Structural Campus bridges the gap between
                skilled structural professionals and organizations
                looking for industry-ready talent.
            </p>

            <div class="breadcrumb-custom">

                <a href="{{ url_for('main.home') }}">
                    Home
                </a>

                <i class="fa-solid fa-chevron-right"></i>

                <span>
                    Hiring Solutions
                </span>

            </div>

        </div>

    </div>

</section>