{% extends "base.html" %}
{% block title %}
About APT Structural Campus | Professional Structural Training
{% endblock %}

{% block meta_description %}
The campus is designed to provide practical and career-oriented education in rebar detailing, rebar estimation and concrete estimation, while creating a pathway toward advanced 3D structural detailing. Our approach is centered on developing skills that can be applied to real engineering workflows. Rather than focusing only on theoretical knowledge, learners are introduced to drawings, detailing practices, estimation processes and project-oriented exercises.
{% endblock %}

{% block meta_keywords %}
apt structural campus, apt campus, structural campus, about APT Structural Campus, structural training institute, rebar detailing training, structural engineering education, Civil job placement
{% endblock %}

{% block content %}

{% include "components/about_hero.html" %}

{% include "components/about_intro.html" %}

{% include "components/mission_vision.html" %}

{% include "components/core_expertise.html" %}

{% include "components/classroom.html" %}

{% include "components/about_cta.html" %}

{% endblock %}