{% extends "base.html" %}
{% block title %}
About APT Structural Campus | Professional Structural Training
{% endblock %}

{% block meta_description %}
Learn about APT Structural Campus, a structural-focused training initiative providing practical education in rebar detailing, rebar estimation, concrete estimation and advanced structural technologies.
{% endblock %}

{% block meta_keywords %}
apt structural campus, apt campus, structural campus, about APT Structural Campus, structural training institute, rebar detailing training, structural engineering education, Civil job placement
{% endblock %}

{% block content %}

{% include "components/about_hero.html" %}

{% include "components/about_intro.html" %}

{% include "components/mission_vision.html" %}

{% include "components/core_expertise.html" %}

{% include "components/classroom.html" %}

{% include "components/about_cta.html" %}

{% endblock %}