{% extends "base.html" %}
{% block title %}
Contact APT Structural Campus | Get in Touch
{% endblock %}

{% block meta_description %}
Contact APT Structural Campus for course enquiries, structural detailing training, hiring solutions and career opportunities.
{% endblock %}

{% block meta_keywords %}
contact APT Structural Campus, structural training enquiry, rebar detailing course enquiry, hiring solutions
{% endblock %}
{% block content %}

{% include "components/contact_hero.html" %}

{% include "components/contact_info.html" %}

{% include "components/contact_cta.html" %}

{% endblock %}